.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 4.8rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  background: rgba(26, 35, 46, 0.5);
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 100%;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    &-container img {
      height: auto;
      max-height: 4.8rem;
      width: auto;
      max-width: 4.8rem;
    }

    &-text {
      color: $color-text-heading;
      font-family: $font-display;
      font-size: 2.4rem;
      font-weight: 500;
      letter-spacing: 0.5px;
      text-transform: uppercase;

      @media only screen and (max-width: $bp-larger) {
        display: none;
      }

      @media only screen and (max-width: $bp-large) {
        display: block;
      }
    }
  }
}

.navigation-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    display: flex;
    font-family: $font-display;
    font-size: 1.8rem;
    font-weight: 500;
    gap: 3.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-large) {
      display: none;
    }
  }

  &__link {
    color: $color-text-subheading;
    cursor: pointer;
    position: relative;
    display: inline-block;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: linear-gradient(to right, #8fcf42, #5ec888);
      transform: scaleX(0);
      transition: transform 0.4s ease-out;
    }

    &::after {
      bottom: -5px;
      left: 0;
      transform-origin: right;
    }

    &::before {
      top: -5px;
      left: 0;
      transform-origin: left;
    }

    &:hover::after,
    &:hover::before {
      transform: scaleX(1);
    }

    &:hover {
      color: $color-text-heading;
      transition: all 0.4s ease-in-out;
    }
  }
}

.nav-button {
  justify-self: flex-end;
  cursor: pointer;

  svg {
    height: 3.2rem;
    color: $color-text-heading;

    &:hover {
      color: $color-text-subheading;
      transition: all 0.5s ease-in-out;
    }
  }
}
