.impact {
  background-color: $color-background-primary;
  padding: 2.4rem 0 6.4rem;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    padding: 0 3.2rem;
    max-width: 110rem;

    @media only screen and (max-width: $bp-large) {
      grid-template-columns: 1fr;
      gap: 4rem;
    }
  }

  &__text,
  &__image {
    display: flex;
    flex-direction: column;
    justify-content: start;

    @media only screen and (max-width: $bp-large) {
      text-align: center;
    }
  }

  &__text {
    align-items: flex-start;
    gap: 1.6rem;

    @media only screen and (max-width: $bp-large) {
      align-items: center;
    }
  }

  &__heading {
    text-align: left;
    margin-bottom: 0;

    @media only screen and (max-width: $bp-large) {
      font-size: 3.2rem;
      text-align: center;
    }
  }

  &__description {
    color: $color-text-default;
    font-family: $font-display;
    font-size: 2.6rem;
    margin-bottom: 8px;
    line-height: 1.2;

    @media only screen and (max-width: $bp-large) {
      font-size: 2.4rem;
    }
  }

  &__btn {
    font-family: $font-primary;
    font-size: 2rem;
    font-weight: 500;
    padding: 1.2rem 3.2rem;

    &:hover {
      box-shadow: 0 1rem 2rem rgba(94, 200, 136, 0.25);
    }

    @media only screen and (max-width: $bp-large) {
      font-size: 1.8rem;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      max-width: 350px;
    }

    @media only screen and (max-width: $bp-large) {
      img {
        width: 70%;
        max-width: 300px;
      }

      @media only screen and (max-width: $bp-medium) {
        img {
          width: 60%;
          max-width: 200px;
        }
      }
    }
  }
}
